In [93]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import model_selection as ms

d_test = pd.read_excel(r"E:\DeepLearning\agriculture\test_agriculture.xlsx")
d_train = pd.read_csv(r"E:\DeepLearning\agriculture\train_agriculture.csv")

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

x = d_train.iloc[:,1:-1]
y = d_train.iloc[:,-1]

x, y = make_classification(random_state=0)
x_train, x_test, y_train, y_test = ms.train_test_split(x, y, test_size=.3, random_state = 42)

In [100]:
d_test

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,F00000002,188,1,1,1,0,NaN,0,2
1,F00000007,410,1,1,1,0,0.0,0,2
2,F00000011,626,1,0,1,0,0.0,0,2
3,F00000013,731,1,0,1,0,0.0,0,2
4,F00000014,789,0,0,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...
1194,F00003133,1132,0,1,2,40,34.0,7,3
1195,F00003135,1132,0,1,2,40,25.0,3,1
1196,F00003138,1132,0,1,2,20,13.0,23,1
1197,F00003149,1212,0,1,2,10,35.0,5,1
1198,F00003150,1212,0,1,2,15,NaN,20,3