In [10]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import model_selection as ms
d_train = pd.read_csv(r"E:\DeepLearning\agriculture\train_agriculture.csv")
d_test = pd.read_excel(r"E:\DeepLearning\agriculture\test_agriculture.xlsx")

x = d_train.iloc[:,1:-1]
y = d_train.iloc[:,-1].to_numpy()

x_train, x_test, y_train, y_test = ms.train_test_split(x, y,
                                                    random_state=42, test_size=.3)

In [11]:
x_train

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
80255,850,0,1,2,60,27.0,6,1
54422,1296,0,0,2,5,10.0,20,3
70334,1296,0,1,2,20,34.0,17,1
32243,1212,0,1,2,20,16.0,27,2
69334,231,0,0,2,20,17.0,7,1
...,...,...,...,...,...,...,...,...
6265,2139,0,0,2,40,NaN,8,3
54886,577,0,1,2,40,23.0,8,2
76820,2688,1,0,3,5,51.0,0,2
860,851,0,0,2,10,30.0,10,2
15795,851,1,0,3,30,28.0,0,2

In [12]:
x_test

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
53358,1898,1,0,2,25,31.0,5,2
56080,677,0,1,3,40,33.0,0,1
29914,2267,0,1,2,20,20.0,23,3
10054,2999,1,0,2,20,NaN,8,3
80617,1898,0,1,2,40,40.0,9,1
...,...,...,...,...,...,...,...,...
31009,984,1,0,3,40,18.0,0,2
44424,1678,0,0,2,20,49.0,1,1
53186,851,1,0,2,5,6.0,13,2
64543,1132,0,0,2,30,NaN,16,2
87613,2687,0,0,2,10,NaN,22,1

In [18]:
from sklearn.metrics import accuracy_score
from sklearn import ensemble

model = ensemble.RandomForestClassifier()

pipe = Pipeline([
    ("imputer", SimpleImputer(strategy="mean")),
    ("scaler", StandardScaler(with_mean=False)),
    ("clf", model)
])

pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
acc = accuracy_score(y_test, y_pred)

print(f"RandomForestClassifier -> {acc:.6f}")

RandomForestClassifier -> 0.824330

In [22]:
from sklearn.metrics import accuracy_score
from sklearn import ensemble
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

pipe = Pipeline([
    ("imputer", SimpleImputer(strategy="mean")),
    ("scaler", StandardScaler(with_mean=False)),
    ("clf", model)
])

pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
acc = accuracy_score(y_test, y_pred)

print(f"LogisticRegression -> {acc:.6f}")

LogisticRegression -> 0.832658

C:\Users\hilda\anaconda3\envs\myenv\lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(